<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name =  "test">
	<test name = "Login ">
		<classes>
			<class name="testCases.LOGIN"></class>
		</classes>
	</test>
<!-- 	<test name = "LIST_CHANNELS "> -->
<!-- 		<classes> -->
<!-- 			<class name="testCases.LIST_CHANNELS"></class> -->
<!-- 		</classes> -->
<!-- 	</test> -->
	<test name = "CREATE_COMMUNITY ">
		<classes>
			<class name="testCases.CREATE_COMMUNITY"></class>
		</classes>
	</test>
	</suite>
	